<div class="container mt-5" *ngIf="user">
  <div class="d-flex justify-content-between align-items-center mb-4">
      <h1>🏎️ Tableau de Bord</h1>
      <button (click)="logout()" class="btn btn-danger">Changer de profil</button>
  </div>

  <div class="card bg-dark text-white">
    <div class="card-body">
      <h2>Pilote : {{ user.username }}</h2>
      <div class="row mt-3">
          <div class="col-md-6">
              <h3>Argent</h3>
              <p class="display-4 text-warning">{{ user.credits | number }} CR</p>
          </div>
          <div class="col-md-6">
              <h3>Niveau</h3>
              <p class="display-4">{{ user.level }}</p>
          </div>
          <div class="col-md-6">
              <h3>Voitures </h3>
              <div class="display-4" *ngFor="let cars of user.garage.cars">
                <h4 class="card-title">{{ cars.name }}</h4>
                <p class="card-title">{{ cars.power }} Ch</p>
                <p class="card-title">{{ cars.weight }} Kg</p>
                <p class="card-title">Aspiration Type : {{ cars.aspiration }}</p>
                <p class="card-title">Default Tires : {{ cars.tireType }}</p>
                <p class="card-title">Grip Modifier : {{ cars.gripModifier }}</p>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>

<button (click)="cheat()" class="btn btn-danger">Ajouter 10 000 Crédit</button>

<button (click)="goToDealership()" class="btn btn-danger">Voir les Concessionnaires</button>